/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/dashboard/(auth)/login/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__yBSzi {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.page_title__6HNKk {
    color: #bbb;
}

.page_subtitle__5Oo7u {
    font-size: 20px;
    margin-bottom: 30px;
    color: #bbb;
}

.page_form__4eG2j {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page_input__SYjDL {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    outline: none;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.page_button__TeBE5 {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

.page_button__TeBE5:hover {
    background-color: #49b07d;
}

.page_or__0_0_f {
    color: #bbb;
}

.page_link__KSREz {
    text-decoration: underline;
    color: #7d7c7c;
}

.page_link__KSREz:hover {
    color: rgb(61, 61, 61);
}

.page_google__wdc_B {
    background-color: rgba(228, 97, 50, 0.72);
}

.page_google__wdc_B:hover {
    background-color: rgba(228, 97, 50, 0.803);

}
