/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/dashboard/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_container__WJamO {
    display: flex;
    gap: 100px;
}

.page_posts__eax_C {
    flex: 1 1;
}

.page_post__pXkpz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.page_imgContainer__jS3d9 {
    width: 200px;
    height: 100px;
    position: relative;
}

.page_img__us61D {
    object-fit: cover;
}

.page_delete__kVuRb {
    cursor: pointer;
    color: red;
}

.page_new__XOsfM {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page_input__olAOO,
.page_textArea__29HOB {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.page_button__4CD3K {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}
